* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100%;
  color: rebeccapurple;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: red;
  text-decoration: none;
}

header {
  background-color:darkred;
  color: floralwhite;
  padding: 50px;
  text-align: center;
}

.container {
  background-color: cornsilk;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.rain{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
}

.round-img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.transparent-img {
  width: 250px;
  height: 250px;
  opacity: 0.3;
}

figcaption {
  font-size: 12px;
}

footer {
  text-align: center;
  background-color: darkred;
  padding: 25px;
  color: floralwhite;
}

